/* OVERWRITE AND NEW SETTINGS */
.column{
    -webkit-transition: background-color 3s; /* For Safari 3.0 to 6.0 */
    transition: background-color 3s; /* For modern browsers */
}

.column:hover, .column:active{
    background-color: rgba(243, 162, 200, 0.3);
}