#testimonials {
    .head {
        text-align: right;
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        p {
            text-align: left;
        }
    }
}